## Tratamento do dataset com Pandas e scikitlearn

In [2]:
import pandas as pd

In [16]:
base = pd.read_csv('credit-data.csv')

In [9]:
base.describe()

          clientid        income          age          loan      default
count  2000.000000   2000.000000  1997.000000   2000.000000  2000.000000
mean   1000.500000  45331.600018    40.807559   4444.369695     0.141500
std     577.494589  14326.327119    13.624469   3045.410024     0.348624
min       1.000000  20014.489470   -52.423280      1.377630     0.000000
25%     500.750000  32796.459717    28.990415   1939.708847     0.000000
50%    1000.500000  45789.117313    41.317159   3974.719419     0.000000
75%    1500.250000  57791.281668    52.587040   6432.410625     0.000000
max    2000.000000  69995.685578    63.971796  13766.051239     1.000000

### Atentar-se aos valores Negativos em age

In [18]:
base.loc[base['age']<0]

    clientid        income        age         loan  default
15        16  50501.726689 -28.218361  3977.287432        0
21        22  32197.620701 -52.423280  4244.057136        0
26        27  63287.038908 -36.496976  9595.286289        0

### Apagando coluna, parametro implace nao gera novo df 
```python
base.drop('age',1,inplace=True)
```

### Removendo somente registros incoerentes 
```python
base.drop(base[base.age < 0].index,inplace=True)
```

In [25]:
# media total com todos os valores da coluna
base['age'].mean()

40.927703903569665

In [26]:
#encontrando a media de idade sem os negativos
base['age'][base.age>0].mean()

40.927703903569665

In [27]:
# Substituindo pela media da coluna os valores incoerentes
base.loc[base.age<0,'age'] = 40.93

In [32]:
# Exemplo de como ficou um dos valores modificados
base.loc[base['clientid'] == 16]

    clientid        income    age         loan  default
15        16  50501.726689  40.93  3977.287432        0

In [36]:
# Localizando valores nulos no DF
base.loc[pd.isnull(base['age'])]

    clientid        income  age         loan  default
28        29  59417.805406  NaN  2082.625938        0
30        31  48528.852796  NaN  6155.784670        0
31        32  23526.302555  NaN  2862.010139        0

In [39]:
# Divisao da matrix em previsores e descritores
# O limite superior e ignorado
previsores = base.iloc[:,1:4].values

In [40]:
classe = base.iloc[:,4].values

In [51]:
# import do modulo que fara a correcao inserindo valores  onde houver NaN
from sklearn.preprocessing import Imputer

In [52]:
imputer = Imputer(missing_values='NaN', strategy='mean', axis=0)

In [54]:
inputer = imputer.fit(previsores[:,0:3])

In [55]:
previsores[:,0:3] = imputer.transform(previsores[:,0:3])

array([[6.61559251e+04, 5.90170151e+01, 8.10653213e+03],
       [3.44151540e+04, 4.81171531e+01, 6.56474502e+03],
       [5.73171701e+04, 6.31080495e+01, 8.02095330e+03],
       ...,
       [4.43114493e+04, 2.80171669e+01, 5.52278669e+03],
       [4.37560566e+04, 6.39717958e+01, 1.62272260e+03],
       [6.94365796e+04, 5.61526170e+01, 7.37883360e+03]])